body {
    background: linear-gradient(to bottom right, pink, purple);
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
}

.item {
    background-color: orange;
    font-weight: 900px;
    text-align: center;
    font-size: 3rem;

}

.item3 {
    grid-column: 1/9;
    grid-row: 4;
}